@model DoctorManage.Models.Database.DEPARTMENT

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DEPARTMENT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DEPARTMENTNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEPARTMENTNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATEBY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATEBY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATEDATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATEDATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UPDATEBY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UPDATEBY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UPDATEDATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UPDATEDATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DELETEFLAG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DELETEFLAG)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DEPARTMENTID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
